.btn-modificar {
    background-color: #ea9342;
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.btn-modificar:hover {
    background-color: #f07400;
}

.btn-modificar:active {
    background-color: #ad5d13;
}

@media (max-width: 768px) {
    .btn-modificar {
        background-color: #997afe;
        padding: 10px 20px;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 0.8rem;
    }
}